{% extends "layout.html" %}

{% block content %}
    Save your spotify username and password to enable music capabilities
{% endblock %}

{% block body %}

<input style="color: #ffffff; border: 2px solid black; background-color: #222222;
              outline-color: white;"
       type="text" autofocus autocomplete="off" placeholder=" Spotify username"
       value="{{ spot_user }}" name="spot_user">
<input style="color: #ffffff; border: 2px solid black; background-color: #222222;
              outline-color: white;"
       type="text" autofocus autocomplete="off" placeholder=" Spotify password"
       value="{{ spot_pass }}" name="spot_pass">
{% endblock %}